apiVersion: apps/v1
kind: Deployment
metadata:
  name: bff-deployment
  namespace: food-rescue-live # Deploying to the same namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bff
  template:
    metadata:
      labels:
        app: bff
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
        runAsNonRoot: true
      containers:
        - name: bff
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          # This image will be updated by our CI pipeline
          image: andresl123/ui-bff:a01b748
          ports:
            - containerPort: 8090 # Your BFF's port
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "k8s"
      nodeSelector:
        kubernetes.io/arch: arm64
